.body{
    background-color: orange;
    height: 100%;
}

.summary {
    text-align: center;
    max-width: 45rem;
    width: 90%;
    margin: auto;
    margin-top: -10rem;
    position: relative;
    background-color: orangered;
    color: white;
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
    background-image: url('../images/Nigerian/femoree-kn_ANxnwCQ0-unsplash.jpg');
    background-size: cover;
    animation: ani2 0.5s ease-out forwards;
}

.summary h2 {
    font-size: 3rem;
    margin-top: 0;
    color: orangered;
    opacity: 0;

}

.summary p {
    color: white;
    opacity: 0;
}

.summary h2 {
    animation: ani2 0.7s ease-out 1s forwards;
}

.summary p {
    animation: ani2 0.7s ease-out 2s forwards;
}

@keyframes ani2 {
    100% {
        opacity: 1;
    }
}

@keyframes ani1 {
    100% {
        transform: scale(1.55);
    }
}
.meal{
    display: grid;
}
.meal li{
    list-style: none;
}

.meal img{
    width: 100px;
}
